.main-div-color{
    background-color: brown;
}
.formula-color{
    background-color: lightgreen;
}
.text-container-color{
    background-color:aliceblue;
}
.super-sub-script-color{
    background-color: magenta;
}
.super-script-color{
    background-color: yellow;
}
.sub-script-color{
    background-color: blue;
}
.transparent-color{
    background-color: transparent;
}

.fraction-color{
    background-color: transparent;
}
.numerator-color{
    background-color: yellow;
}
.denominator-color{
    background-color: blue;
}
.numerator-framework-color{
    background-color: pink;
}
.denominator-framework-color{
    background-color: pink;
}
.sqrt-color{
    background-color: green;
}
.sqrt-head-color{
    background-color: red;
}
.sqrt-head-placeholder-color{
    background-color: black;
}
.sqrt-container-color{
    background-color: blue;
}