.button{
    font-size: 30px;
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.main-div{
    font-size: 60px;
    font-family:Arial, Helvetica, sans-serif;
    outline-width: 0px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
}
.formula{
    font-size: 60px;
    padding: 5px;
    margin:3px;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
}
.text-container{
    padding: 1px;
    margin-top: auto;
    margin-bottom: auto;
}
.super-sub-script{
    padding: 1px;
    margin-top: auto;
    margin-bottom: auto;
    display: inline-flexbox;
}
.super-script{
    padding:1px;
    display: flex;
    width:min-content;
}
.sub-script{
    padding:1px;
    display: flex;
    width:min-content;
}

.fraction{
    padding: 1px;
    margin-top: auto;
    margin-bottom: auto;
    display: inline-flexbox;
}
.numerator-framework{
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
}
.denominator-framework{
    border-top: 4px solid black;
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
}
.numerator{
    padding:1px;
    display: flex;
    width:min-content;
    margin-left: auto;
    margin-right: auto;
}
.denominator{
    padding:1px;
    display: flex;
    width:min-content;
    margin-left: auto;
    margin-right: auto;
}
.sqrt{
    display: inline-flex;
    position: relative;
}
.sqrt-head{
    display: flex;
    width: 30px;
    top: 0;
    bottom: 0;
    position:absolute;
}
.sqrt-head-placeholder{
    display: flex;
    width: 30px;
    height: auto;
}
.sqrt-container{
    display: flex;
    border-top: 3px black solid;
}
.parentheses{
    display: inline-flex;
    position: relative;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: auto;
    margin-bottom: auto;
}
.left-parenthesis{
    position: absolute;
    top:0;
    bottom: 0;
    left:0;
    width: 20px;
    display: flex;
}
.right-parenthesis{
    position: absolute;
    position: absolute;
    top:0;
    bottom: 0;
    right:0;
    width: 20px;
    display: flex;
}
.parenthesis-placeholder{
    width: 20px;
}
.parentheses-container{
    display: flex;
    padding: 2px;
}
.dummy-parenthesis{
    margin-top: auto;
    margin-bottom: auto;
}